<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/adminuserlist.css" />
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />

        <title>Users List</title>
    </head>
    <body>
        <h1>Users List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Place</th>
                    <th>District</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <% user.forEach(user => { %>
                <tr>
                    <td><%= user.fullname %></td>
                    <td><%= user.email %></td>
                    <td><%= user?.userProfile?.address %></td>
                    <td><%= user?.userProfile?.place %></td>
                    <td><%= user?.userProfile?.district %></td>
                    <td><%= user?.userProfile?.state %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/adminhome">Go to Home</a>
    </body>
</html>
