<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/home.css" />
        <title>Shopping Cart</title>
    </head>
    <body>
        <header>
            <h1>Shopping Cart</h1>
            <a href="/logout" class="logout-button">Logout</a>
        </header>

        <main>
            <section class="product-list">
                <h2>Product List</h2>
                <ul class="product-grid">
                    <% showData.forEach(product => { %>
                    <li class="product-item">
                        <img
                            src="<%= product.image.replace('public\\', '') %>"
                            alt="<%= product.name %>"
                        />
                        <h3><%= product.name %></h3>
                        <p><%= product.description %></p>
                        <span class="price">₹<%= product.price %></span>
                        <div class="product-actions"></div>
                    </li>
                    <% }); %>
                </ul>
            </section>
        </main>
    </body>
</html>
